/* General theme independent control css. */
.TcHmi_Controls_Beckhoff_TcHmiParametersAndFunctions-template {
    background: white;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    display: grid;
    grid-template-rows: auto 1fr 0;
    position: relative;

    * {
        box-sizing: border-box;
    }

    .full-row,
    .full-width {
        grid-column: 1 / -1;
    }

    .postfix-colon::after {
        content: ':\a0';
    }

    .comma-seperator::before {
        content: ',\a0';
    }

    & .hide {
        display: none !important;
    }

    &:not([mode='Edit']) .hide-by-mode {
        display: none !important;
    }

    &[mode='Edit'] .hide-by-mode {
        opacity: 0.5;
    }

    .navigation .arrow,
    .page-content .arrow {
        display: inline-block;
        width: 6px;
        height: 6px;
        transition: transform 0.2s ease-in;
        border-right-width: 1px;
        border-right-style: solid;
        border-bottom-width: 1px;
        border-bottom-style: solid;

        &.arrow-left {
            transform: rotate(-225deg);
        }

        &.arrow-up {
            transform: rotate(-135deg);
        }

        &.arrow-right {
            transform: rotate(-45deg);
        }

        &.arrow-down {
            transform: rotate(45deg);
        }
    }

    .notification-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 14;
        display: grid;
        justify-content: center;
        align-items: center;

        .notification {
            padding: 20px;
        }
    }

    .top-bar {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .toggle-navigation {
        height: 30px;
        width: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation {
        position: relative;
        min-height: min-content;
        border-right-width: 1px;
        border-right-style: solid;
        display: grid;
        grid-template-rows: auto 1fr;
        transition: margin-left 0.5s ease;
    }

    .navigation-buttons {
        min-width: 250px;

        .collapse-runtime-diagnostics {
            height: 0;
            width: 0;
        }
    }

    .breadcrumb {
        position: relative;

        .name-icon-label {
            pointer-events: none;
            display: flex;
            align-items: center;
            margin-left: -5px;
            gap: 2px;

            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    .parameters-and-functions {
        padding: 10px;
    }

    .standard-button {
        display: flex;
        justify-content: center;
        gap: 5px;
        line-height: 12px;
    }

    .runtime-disabled-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        font-size: 20px;
        pointer-events: none;
    }

    beckhoff-parameters-and-functions-table .table {
        display: grid;
        grid-template-columns:
            minmax(max-content, 1fr)
            max-content max-content max-content max-content max-content max-content;
        width: 100%;

        button {
            all: unset;
            display: flex;
            align-items: center;
            height: 30px;
            width: 79px;
            border-width: 1px;
            border-style: solid;
            padding: 6px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            transition:
                background-color 0.3s,
                color 0.3s;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 5px;
        }

        .header {
            position: sticky;
            top: 0;
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1 / -1;
            align-items: center;
            z-index: 2;

            .header-labels {
                display: grid;
                grid-template-columns: subgrid;
                grid-column: 1 / -1;

                & > div {
                    background: inherit;
                    position: relative;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding: 0 8px 0 10px;
                    font-weight: bold;

                    button {
                        height: 17px;
                    }

                    .resize-bar {
                        position: absolute;
                        right: 0;
                        z-index: 2;
                        display: block;
                        height: 100%;
                        width: 0.9px;
                        transition: background 0.3s ease;

                        &::after {
                            content: '';
                            display: block;
                            position: relative;
                            left: -10px;
                            width: 20px;
                            height: 100%;
                            cursor: ew-resize;
                        }
                    }
                }
            }

            .search-bar {
                padding: 4px;
                position: relative;
                width: 300px;

                svg.filter-icon {
                    position: absolute;
                    margin-top: 8px;
                    margin-left: 6px;
                    width: 15px;
                    height: 15px;
                }

                input {
                    height: 30px;
                    width: 100%;
                    padding: 4px;
                    border-radius: 5px;
                    border: none;
                    padding-left: 29px;
                    font-size: 12px;
                }

                .erase-btn {
                    position: absolute;
                    cursor: pointer;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    aspect-ratio: 1 / 1;
                    top: 0;
                    right: 0;
                }
            }

            .notification {
                display: flex;
                align-items: center;
                padding-left: 10px;
                height: 30px;
                margin-top: 10px;

                &.info {
                    background: aliceblue;
                }

                &.error {
                    background: #ff8383;
                }
            }
        }

        .tbody {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1 / -1;

            .parameter-or-function-name {
                font-weight: bold;
                font-size: 14px;
                height: 18px;
            }

            .group-row {
                position: relative;
                display: grid;
                grid-column: 1/-1;
                grid-template-columns: subgrid;

                &:has(> .symbol-group:not(.hide)):before {
                    content: '';
                    position: absolute;
                    left: 15px;
                    top: 22px;
                    width: 1px;
                    height: calc(100% - 22px - 0px);
                    background: #2774ba;
                }

                .group-label {
                    grid-column: 1 / -1;
                    display: none;
                    /* is set to grid when group as visible elements */
                    font-size: 13px;
                    padding: 4px 4px 4px 12px;

                    .arrow {
                        margin-top: 5px;
                    }
                }

                .symbol-group {
                    display: grid;
                    grid-column: 1 / -1;
                    grid-template-columns: subgrid;
                    padding-left: 20px;
                }

                &:has(.symbol-group > :not(.hide)) > .group-label {
                    display: flex;
                    gap: 12px;
                }
            }

            .parameters-and-functions-table-row,
            .group-row {
                display: grid;
                grid-template-columns: subgrid;
                grid-column: 1 / -1;
                transition: background ease-in-out 0.3s;

                .parameter-value,
                .parameter-value > div.TcHmi_Controls_Helpers_Editor {
                    width: 150px;
                    height: 30px;
                }

                .parameter-or-function-mapping,
                .parameter-or-function-info {
                    white-space: nowrap;

                    > span {
                        margin-left: 5px;
                    }
                }

                .parameter-or-function-mapping {
                    display: none;
                }

                .parameter-or-function-info {
                    display: flex;
                }

                .parameter-or-function-name,
                .parameter-or-function-mapping *,
                .parameter-or-function-info * {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .symbol-unit {
                    text-align: right;
                    width: 100%;
                }

                .cell {
                    position: relative;
                    background: inherit;
                    box-sizing: content-box;
                    /* this is needed so that the grid is respecting the padding with the parameter max-content */
                    padding: 10px;
                    height: 100%;

                    > * {
                        box-sizing: border-box;
                    }
                }

                &.symbol-placeholder {
                    overflow: hidden;
                    opacity: 0.5;
                }

                &.function-placeholder {
                    overflow: hidden;
                    opacity: 0.7;
                    padding: 10px;
                    display: flex;
                    align-items: center;

                    .cell {
                        padding: 0;
                    }

                    .loading-function {
                        padding: 18px;

                        .template-name {
                            color: var(--tchmi-highlight-color-1);
                        }
                    }
                }
            }

            &.show-symbol-mapping {
                .parameter-or-function-mapping {
                    display: flex;
                }
            }
        }
    }

    .outer-wrapper,
    .page-content {
        overflow: hidden;
    }

    .page-content {
        position: relative;
        grid-column: 2;
        width: 100%;
    }

    .navigation-buttons .notification-bubble {
        padding: 2px 7px;
        border-radius: 20px;
        right: 6px;
        position: absolute;
    }

    .store-symmbol-values-error {
        position: absolute;
        padding: 10px;
        border-radius: 5px;
        z-index: 3;
        margin-left: 7px;
        font-size: 14px;

        &::before {
            content: '';
            position: absolute;
            top: -10px;
            left: 5px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom-width: 10px;
            border-bottom-style: solid;
        }

        &.error {
            background: var(--tchmi-error-color);
            color: white;

            &::before {
                border-bottom-color: var(--tchmi-error-color);
            }
        }

        &.successful {
            background: var(--tchmi-ready-color);
            color: white;

            &::before {
                border-bottom-color: var(--tchmi-ready-color);
            }
        }
    }

    .nav-button {
        width: 100%;
        padding: 8px 15px;
        display: flex;
        align-items: center;

        > span,
        > p {
            margin-left: 5px;
        }

        svg {
            flex-shrink: 0;
        }

        &.config-runtime {
            align-items: start;

            svg {
                margin-top: 5px;
            }

            .runtime-diagnostics-toggle-btn {
                right: 0;
                position: absolute;
                width: 30px;
                height: 30px;
                align-items: center;
                justify-content: center;
                display: flex;
                margin-top: -24px;

                .arrow {
                    scale: 1.3;
                }
            }

            .runtime-diagnostics {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0px 8px;
                overflow-y: hidden;
                interpolate-size: allow-keywords;
                transition: height ease-in-out 0.3s;

                .ads-runtime-header {
                    font-weight: bold;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

                .gap-row {
                    height: 14px;
                }

                .diagnostics-key,
                .diagnostics-value {
                    white-space: nowrap;
                }

                .diagnostics-value:empty,
                .diagnostics-key:has(+ .diagnostics-value:empty) {
                    display: none;
                }
            }
        }
    }

    .slide-out-right {
        animation-name: tchmi-parameters-and-functions-slide-out-right;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .spin-it {
        animation: tchmi-parameters-and-functions-spin 1.5s ease-in-out infinite;
        transform-origin: center;
    }

    .btn-status {
        position: absolute;
        right: 10px;
    }

    .open-permission-management-btn {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .local-top-most-layer {
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 200;
    }

    .current-update-state {
        pointer-events: auto;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: white;

        p {
            background: rgba(0, 0, 0, 0.6);
            padding: 15px;
            border-radius: 5px;
        }

        svg {
            margin-right: 10px;
        }

        button {
            all: unset;
            margin-top: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid white;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            gap: 5px;

            &:hover {
                background: white;
                color: black;
            }
        }
    }

    .row-group {
        display: grid;
        grid-column: 1 / -1;
        /* Span across all columns */
        grid-template-columns: subgrid;
        /* Inherit the column layout */
        border-left: 2px solid dodgerblue;
        /* Example style for the row group */
        margin: 0 0 0 33px;
        /* Space between row groups */
        padding: 10px;
        /* Padding inside the row group */
        gap: 8px;
        column-gap: 30px;
        align-items: center;
    }

    .runtime-selector {
        width: 686px;
        position: relative;
        padding: 10px;
        display: grid;
        grid-template-columns: minmax(150px, auto) 1fr;
        /* Define two columns */
        gap: 8px;
        /* Space between items */
    }

    .fieldset {
        border: none;
    }

    .fieldset::before {
        content: '';
        position: absolute;
        z-index: -1;
        border: 1px solid rgba(0, 0, 0, 0.2);
        left: 33px;
        top: -11px;
        right: 0;
        bottom: 0;
    }

    .runtime-legend {
        position: absolute;
        font-style: italic;
        background: #4f4f4f;
        padding: 3px 6px;
        margin-top: -27px;
        margin-left: 30px;
        display: flex;
        gap: 10px;
        align-items: center;
        color: white;
    }

    .ads-runtime-selector {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
        position: relative;
        margin-top: 30px;
        bottom: 5px;

        .fieldset {
            display: grid;
            grid-column: 1 / -1;
            grid-template-columns: subgrid;
            padding-top: 5px;

            &::before {
                left: 23px;
                bottom: -8px;
            }
        }
    }

    .ads-runtime-selector .runtime-legend {
        margin-top: -27px;
        margin-left: 30px;
    }

    .runtime-option {
        grid-column: 1 / -1;

        label {
            display: flex;
            gap: 7px;
            align-items: center;
            flex-direction: row;
        }
    }

    .runtime-option,
    .runtime-extension {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    input {
        padding: 5px;
        border: none;
        border-bottom: 1px solid #ccc;

        &[type='checkbox'] {
            width: 16px;
            height: 16px;
        }
    }

    .runtime-extension {
        border-left: #1e85ff 2px solid;
        margin-left: 37.5px;
        padding-left: 10px;

        table {
            width: 100%;
        }

        label {
            color: white;
        }
    }

    .add-new-runtime {
        display: flex;
        gap: 10px;
        font-size: 14px;
    }

    .add-new-runtime-btn {
        all: unset;
        display: flex;
        gap: 5px;
        background: dodgerblue;
        color: white;
        padding: 5px;
        border-radius: 3px;
    }

    input[type='text'] {
        padding: 5px;
        border: none;
        border-bottom: 1px solid #ccc;
    }

    .tree-view-container {
        height: 100%;
        border-top: 1px solid #ddd;
    }

    .tree-view-icon {
        height: 30px;
        width: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .tree-view-placeholder {
        border-top: 1px solid #ddd;
        display: grid;
        grid-template-columns: 1fr 22px;
        grid-template-rows: repeat(5, 22px);
        gap: 10px;
        padding: 10px;
        height: 0px;

        .item {
            background: #ccc;
            border-radius: 3px;
        }
    }

    beckhoff-parameters-and-functions-table {
        display: block;
        width: 100%;
        height: 100%;
        overflow: auto;

        &:not(.audit-trail-is-enabled) .history-col {
            display: none !important;
        }

        .symbol-prep-value {
            display: flex;
            width: 200px;
            height: 30px;
        }

        .prep-value-edit-btn {
            width: 100% !important;
        }

        .parameters-and-functions-table-row svg,
        .group-row svg {
            align-self: center;
            flex-shrink: 0;
        }

        .parameters-and-functions-table-row {
            overflow: hidden;

            &:not(.parameter-with-prepared-value) .prep-value-container,
            &.parameter-with-prepared-value .prep-value-edit-btn {
                display: none;
            }

            &.parameter-with-prepared-value .prep-value-container {
                display: flex;
                flex-wrap: wrap;

                .prep-value-wrapper {
                    height: 30px;
                }

                .prep-value-cancel-btn {
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                }

                .error-message {
                    color: red;
                }
            }

            .min-max-label {
                width: 150px;
                display: flex;
                overflow: visible;
            }
        }

        .date-time-wrapper {
            display: flex;
            margin-top: 20px;
        }

        .date-time-start-wrapper {
            display: flex;
            margin-right: 10px;
        }

        .date-time-end-wrapper {
            display: flex;
        }

        .search-enabled {
            .parameters-and-functions-table-row,
            .group-row {
                /* Show matches, their parent groups, and contents when the group matches.
                   Hide rows with no match in themselves or their subtree. */
                &:not(.search-match):not(:has(.search-match)):not(.search-match *) {
                    display: none;

                    *:not(.search-match):not(:has(.search-match)) {
                        display: none;
                    }
                }
            }
        }
    }
}

.tchmi-body-designer .TcHmi_Controls_Beckhoff_TcHmiParametersAndFunctions-template {
    .symbol-placeholder {
        overflow: hidden;

        .parameter-or-function-name {
            margin-bottom: 1px;
            background: #2774ba;
            width: 160px;
            height: 18px;
            border-radius: 3px;
            opacity: 0.4;
        }

        .parameter-or-function-mapping,
        .parameter-or-function-info {
            margin-top: 3px;

            > span {
                background: #aaa;
                color: transparent;
                width: 200px;
                height: 15px;
                border-radius: 3px;
                opacity: 0.5;
            }
        }
    }
}

@keyframes tchmi-parameters-and-functions-slide-out-right {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes tchmi-parameters-and-functions-spin {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0);
    }
}
